
@import 'reset';


//
// GLOBALS
//

html,
body {
    height: 100%;
}

body {
    background: #444;
    font: 500 16px Avenir, sans-serif;
    line-height: 1;
}

//
// INTRO
//

.intro-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: .7;
    background: rgba(0,0,0,0.9);
    background: -webkit-radial-gradient(60% 60%, ellipse closest-corner, #3c3c3c 1%, rgba(0,0,0,0.3) 100%);
    background: -moz-radial-gradient(60% 50%, ellipse closest-corner, #000 1%, rgba(0,0,0,0.3) 100%);
    background: -ms-radial-gradient(50% 50%, ellipse closest-corner, #000 1%, rgba(0,0,0,0.3) 100%);
    background: radial-gradient(60% 60%, ellipse closest-corner, #96bebe 1%, rgba(0,0,0,0.3) 100%);
    filter: alpha(opacity=30);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.intro-pitch h2 {
    color: #fff;
    font-size: 55px;
    font-weight: normal;
    line-height: 120%;
}

.intro-pitch p {
    color: rgba(255, 255, 255, .7);
    display: block;
    font-size: 25px;
    font-weight: normal;
}

.happy-day {
    color: rgba(255, 255, 255, .36);
    cursor: normal;
    display: block;
    padding-top: 20px;
    text-decoration: none;
}


//******************************************************

.fa-twitter,
.networks #network-twitter {
    color: #04aceb !important;
}

.fa-linkedin,
.networks #network-linkedin {
    color: #4875b4 !important;
}

.fa-github,
.networks #network-github {
    color: #333 !important;
}

//*****************************************************

//
// INTRO
//

.intro {
    background-color: #1a2a2b;
    background-image: url('../img/bg_back.jpg');
    background-size: cover;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}

.intro-pitch {
    display: table;
    height: 100%;
    line-height: 2.5em;
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 30;

    h2 {
        line-height: 1.3em;
        padding: 0 10%;
    }

    p {
        font-size: 20px;
        line-height: 100%;
        margin-bottom: 1.3em;
    }

    .player-avatar {
        border-radius: 50%;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, .5);
    }
}

.intro-inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.intro-pitch-inner {
    display: table-cell;
    vertical-align: middle;
}

#player-bio {
    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

//*******************************************************

//
// MORE TRIGGER
//

#more { background-color: #f4f6f6; }

//******************************************************

//
// SECTIONS
//

.section {
    overflow: hidden;
    padding: 75px 5% 55px;
    text-align: center;

    h3 {
        color: #4b514b;
        font-size: 30px;
        font-weight: normal;
        margin-bottom: .9em;
        padding: 0 5%;
    }
}

//*****************************************************

//
// WORK
//

#work {
    padding-bottom: 75px;

    .pieces:first-child {
        display: block;
    }

    .pieces {
        display: none;
        list-style: none;

        li {
            display: inline-block;
            height: 225px;
            margin: 15px 22px;
            width: 300px;

            a {
                background-size: contain;
                border-radius: 5px;
                color: #aaa;
                display: table;
                font-size: 12px;
                height: 225px;
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                width: 300px;
            }

            .likes {
                background-color: rgba(234, 76, 137, 0);
                border-radius: inherit;
                bottom: 0;
                color: #fff;
                color: #fff;
                display: table-cell;
                font-size: 25px;
                left: 0;
                opacity: 0;
                right: 0;
                top: 0;
                transition: all .3s ease;
                vertical-align: middle;

                strong {
                    display: block;
                    font-size: 20px;
                    font-weight: normal;
                    line-height: 27px;
                    margin-bottom: 15px;
                    padding: 0 30px;
                    text-transform: none;
                }

                i {
                    margin: 0 0 0 20px;
                }
            }

            .likes:hover {
                background-color: rgba(42, 42, 42, .75);
                opacity: 1;
            }
        }
    }
}


//*****************************************************

//
// SKILLS
//

.tags {
    list-style: none;
    margin: 1.4em auto 0;
    width: 80%;

    li {
        background: rgba(0, 0, 0, .2);
        border-radius: 5px;
        color: rgba(255, 255, 255, .65);
        display: inline-block;
        font-size: 20px;
        line-height: 100%;
        margin: 4px 5px 0;
        padding: 6px 10px;
    }
}

//*****************************************************

//
// Networks bottom
//

#networks {
    background: #fff;
    padding: 60px 0 0;

    h3 {
        color: #777;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 1.2em;
        font-weight: 600;
    }

    li {
        display: inline-block;
        margin: 0 25px 10px;

        a {
            display: block;

            i {
                font-size: 40px;
                -webkit-transition: all .2s ease;
            }
        }
        i:hover {
            -webkit-transform: scale(1.15);
        }
    }
}

//*****************************************************

//
// Footer
//

#footer {
    background-color: #fff;
    color: #777;
    padding: 45px 20px;

    a {
        border-bottom: 2px solid #b1b1b1;
        color: #ea4c89;
        display: inline-block;
        height: 20px;
        text-decoration: none;
    }
}

#js-nowplaying {
    font-family: Avenir, sans-serif;
    padding-left: 5px;
}

#spotify {
    color: #999;
    padding-bottom: 20px;
    padding-top: 10px;
}

//*****************************************************

//
// Player Mobile
//

@media only screen and (max-width: 780px) {

    html,
    body,
    #save-form,
    .intro,
    .intro-pitch {
        height: auto;
    }

    .intro-pitch {
        display: block;

        .player-avatar {
            margin-top: 5em;
        }
    }

    .intro-pitch-inner {
        display: block;
    }

    .intro-pitch p {
        font-size: 20px;
        margin-bottom: .8em;
        margin-top: .5em;
    }

    .intro-inner {
        bottom: auto;
        left: auto;
        padding: 40px 0;
        position: relative;
        right: auto;
        top: auto;
    }

    .intro-pitch h2 {
        font-size: 19px;
        margin-top: 1em;
    }

    .tags ul {
        font-size: 12px;
    }

    .section h3 {
        font-size: 25px;
        margin-bottom: .4em;
    }

    #work {
        padding: 45px 5% 40px !important;

        .pieces li {
            height: 175px;
            width: 233px;

            a {
                height: 175px;
                width: 233px;
            }
        }
    }

    #footer p {
        line-height: 1.6em;
    }
}
