
@import 'bourbon';

@import '_partials/variables';
@import '_partials/base';
@import '_partials/typography';
@import '_partials/buttons';
@import '_partials/header';
@import '_partials/footer';

//
// Main
//

.profile {
  margin: auto;
  width: auto;
}

.section-main {
  p {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    width: 400px;
  }

  p:first-child::first-letter {
    float: left;
    font-family: Georgia;
    font-size: 57px;
    line-height: 54px;
    padding-right: 8px;
  }
}

main {
  align-content: flex-end;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;

  h1 {
    display: block;
    text-align: center;
  }

  section {
    background-color: $color-background-alt;
    border-radius: 0;
    box-shadow: 0 2px 20px 5px darken($color-background-alt, 8%);
    flex-grow: 1;
    margin: 50px;
    max-width: 350px;
    padding: 70px;
    text-align: center;
    width: 300px;

    p {
      padding-bottom: 10px;
    }

    h2 {
      color: $color-secondary;
      font-size: 21px;
      padding-bottom: 20px;
      text-align: left;
    }
  }

  h3 {
    color: $color-text-secondary;
    font-size: 1.2em;
  }
}


.star-link {
  font-size: 23px;
  padding: 2px;
  text-decoration: none;
}

.footnote {
  padding-top: 10px;
}

.fullwidth {
  clear: both;
  margin-top: 20px;
}

