
//
// Main
//

.box {
  background-color: rgba(255,255,255,0.98);
  box-shadow: black;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  max-width: 400px;
  padding: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 80%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}


.section-main {
  padding-top: 50px;
}

main {
  align-content: flex-end;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;

  width: 90%;
  margin: auto;
  max-width: 1400px;

  h2 {
    display: block;
    text-align: center;
  }

  section {
    background-color: $color-background-alt;
    border-radius: 0;
    box-shadow: 0 5px 10px 14px #f9f7f7;
    flex-grow: 1;
    margin: 50px;
    max-width: 350px;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 0;
    text-align: center;
    width: 300px;

    p {
      padding-bottom: 10px;
    }

    h2 {
      color: $color-secondary;
      font-size: 21px;
      padding-bottom: 20px;
      text-align: left;
    }
  }

  h3 {
    color: $color-text-secondary;
    font-size: 1.2em;
  }
}
