

.cover-image {
  background-image: url("img/background.jpg");
  background-size: cover;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

.cover-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .7;
  background: -webkit-radial-gradient(60% 50%, ellipse closest-corner, #646464 1%,rgba(0,0,0,.3) 100%);
  background: radial-gradient(60% 50%, ellipse closest-corner, #646464 1%,rgba(0,0,0,.3) 100%);
  }


.landing-section {
  padding-bottom: 100px;
  position: relative;
  z-index: 30;
  p {
    text-align: center;
  }
}

.profile {
  border-radius: 49%;
  margin: auto;
  width: auto;
}

.spinner-disabled {
   background-color: #f1f1f1 !important;
}

.spinner-box {
    background-color: #f5f5f5;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    display: inline-flex;
    width: 300px;
    text-align: center;
    justify-content: center;

    svg {
      top: 3px;
      left: 5px;
      position: relative;
      fill: #b5b5b5;
    }
}

.spinner-box:hover {
    background-color: #eee;
    color: #aaa;
    cursor: pointer;
}



