
.projects {

  .projects-heading {
    font-size: 40px;
  }

  section {
    max-width: 750px;
    width: 100%;

    img {

    }

    .photo-left {
      float: left;
      max-width: 500px;
      max-height: 300px;
      overflow: hidden;
      margin: auto;
      margin-bottom: 30px;
      width: 45%;
    }

    .content-right {
      float: right;
      width: 50%;
    }
  }
}
