---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-default">

    {% include navbar.html %}

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      {% include header.html %}

      {% include print-content.html content = site.data.experience name = "Experience" schema = "Organization" prop = "worksFor" %}

      {% include print-education.html %}

      {% include print-skills.html %}

      <div class="new-page"></div>

      {% include print-content.html content = site.data.projects name = "Projects" schema = "CreativeWork" %}

      <div class="download-button">
        <a class="contact-button no-print" href="Harry.Mumford-Turner.CV.pdf" onclick="gtag('event', 'cv_download_click', {'value': 1});">Download CV</a>
      </div>

      {% include detailed-experience.html %}

      {% include detailed-projects.html %}

      <div class="download-button no-print">
        <a class="contact-button no-print" href="Harry.Mumford-Turner.CV.pdf" onclick="gtag('event', 'cv_download_click', {'value': 1});">Download CV</a>
      </div>

      <section class="message-box no-print">
        {% include message-form.html %}
      </section>

      <footer class="page-footer no-print">
        <p>See this site progress through the years.</p>
        <a alt="Visit 2017 site" href="//harrymt.com/Site2017" class="small-button">2017</a>
        <a alt="Visit 2016 site" href="//harrymt.com/Site2016" class="small-button">2016</a>
        <a alt="Visit 2015 site" href="//harrymt.com/Site2015" class="small-button">2015</a>
        <a alt="Visit 2013 site" href="//harrymt.com/Site2013" class="small-button">2014</a>

        <p class="footer-line">Made by <a onclick="gtag('event', 'github_footer_link_click', {'value': 1});" href="//www.github.com/harrymt">harrymt</a>.</p>

        <p>Last Updated on {{ site.last_updated }}</p>
      </footer>
    </div>
  </body>
</html>
