<div class="page-split no-print"></div>

<section class="content-section detailed-experience no-print">
  <header class="section-header">
    <h2>Detailed Experience</h2>
  </header>

{% for c in site.data.experience %}
  <div class="resume-item">
    <div class="col-1-4">
      <h3 class="resume-item-title" itemprop="name">
        {% if c.url %}<a href="{{ c.url }}" itemprop="url">{% endif %}
            {{ c.title }}
        {% if c.url %}</a>{% endif %}
      </h3>
      <h4 class="resume-item-details" itemprop="description">
        {{ c.secondary }}
      </h4>
      <h5>{{ c.year }}</h5>
    </div>

      <ul class="summary-bullets col-3-4">
        {% for p in c.summary %}
          <li class="resume-item-copy">{{p | markdownify}}</li>
        {% endfor %}
        {% for p in c.detailed %}
          <li class="resume-item-copy">{{p | markdownify}}</li>
        {% endfor %}
      </ul>
  </div>
{% endfor %}


</section>
