
      {% for job in site.resume_job %}
        {% if job.job == site.job %}
          {% assign job_info = job %}
          {% continue %}
        {% endif %}
      {% endfor %}

      <header class="page-header">

        <div class="heading-intro">
          <h1>Hello! 👋</h1>
          <h1>My name is Harry.</h1>
        </div>

        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}
      
        <div class="title-bar no-print">
          <h1 class="header-title">I'm a <span>Software Engineer</span> at <a target="_blank" href="https://careers.justeattakeaway.com/">Just Eat Takeaway</a>.</h1>
          
          {% include icon-links.html %}
        </div>

        <div class="executive-summary no-print" itemprop="description">
          <p class="header-summary-intro">
            {{ job_info.intro }}
          </p>
          <!-- Not today -->
          <!-- <div class="heatmap-container">
            <a href="//github.com/harrymt">
              <img src="//ghchart.rshah.org/harrymt" alt="harrymt's Github chart" />
            </a>
          </div> -->
        </div>
      </header>
