

<h2>PROJECTS</h2>

{% for p in site.data.projects %}
 <section class="section-work section-work-big">

  <div class="photo-left">
   {% if p.photo %}
      <a href="{{ p.url }}">
        <img alt="{{ p.title }}" class="fullwidth" src="img/work/{{ p.photo }}">
      </a>
    {% endif %}
  </div>
  <div class="content-right">
    <h2>{{ p.title }}</h2>
    <ul class="bullet-list">
      {% for pel in p.list %}
        <li>{{ pel }}</li>
      {% endfor %}
    </ul>

    <div class="button-container">
      {% for tag in p.tags %}
        <a href="{{ tag.url }}" class="button button-clear button-tiny">{{ tag.name }}</a>
      {% endfor %}
      <a href="{{ p.url }}" class="button button-clear button-tiny">Code</a>
    </div>
  </div>


  </section>
{% endfor %}
