// Resume styles
// ---------------------------------------/

// Typography

h4 {
  color: #444;
}

h5 {
  color: #5a5858;
  margin: 0;
}


// util

.section-header {
  @include section_border;
  margin-bottom: 1.5rem;

  h2 {
    @include sans;
    font-weight: 900;
    font-size: 1.75rem;
    letter-spacing: -.05rem;
    margin: 0;
  }
}

// page header styles

.page-header {
  padding: 1.5rem 0;

  .avatar {
    @include border-radius(100%);
    width: 250px;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
  }

  .header-name {
    @include sans;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: -.15rem;
    line-height: 1;
    margin: 1rem 0 2rem;
  }

  .header-contact-info {
    @include sans;
    text-align: center;
  }
  .header-contact-info p a {
    color: inherit;
  }

  .title-bar {
    @include section_border;
    padding: .4rem 0;
    @include clearfix;

    .header-title {
      @include sans;
      font-weight: 300;
      font-size: 1.75rem;
      line-height: 2rem;
      letter-spacing: -.05rem;
      text-align: center;
      margin: 0 0 .5rem;

      @include media_larger_than_mobile {
        float: left;
        margin: 0;
      }
    }
  }

  .executive-summary {
    @include media_larger_than_mobile { font-size: 1.125rem; }
  }
}

.heatmap-container {
  padding: 20px;

  @media(max-width: 500px) {
    padding: 0;
  }

  img {
    margin: auto;
    width: 100%;
  }
}

.icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 4px;
  text-align: center;
  border-top: 2px solid #c7c7c7;
  padding-top: .4rem;

  @include media_larger_than_mobile {
    float: right;
    border-top: none;
    padding-top: 0;
  }

  .icon-link-item {
    display: inline-block;
    margin-left: 5px;
  }

  .icon-link { display: inline-block;

    &:hover .icon path {
      fill: #333;
      @include transition(all .2s ease);
    }
  }
}

.small-button {
  display: inline-block;
  @include border-radius(3px);
  background-color: #efefef;
  text-decoration: none;
  text-align: center;
  margin: 5px auto;
  width: 40%;
  font-size: 1.375rem;
  @include sans_light;
  color: #333;
  line-height: 55px;
  @include transition(all .2s ease);

  &:hover {
    background-color: #333;
    color: #fff;
  }

  &.not-looking { width: 400px; }

  @media (max-width: 500px) {
    margin: .5rem auto;
    width: 100%;
  }
}

.download-button {
  display: block;
}

.contact-button {
  display: block;
  @include border-radius(3px);
  background-color: #efefef;
  text-decoration: none;
  text-align: center;
  margin: 1.5rem auto;
  width: 40%;
  font-size: 1.375rem;
  @include sans_light;
  color: #333;
  line-height: 55px;
  @include transition(all .2s ease);

  &:hover {
    background-color: #333;
    color: #fff;
  }

  &.not-looking { width: 400px; }

  @media (max-width: 500px) {
    width: 100%;
  }
}

// resume content styles

.page-split {
  width: 140%;
  display: block;
  border: 1px solid #555;
  margin: 20% auto;
  position: relative;
  left: -20%;


  @media(max-width: 1000px) {
    left: 0;
    width: 100%;
  }

  @media(max-width: 750px) {
    width: 75%;
  }

  @media(max-width: 500px) {
    width: 50%;
  }
}

.content-section {
  margin: 0 0 3rem;

  .resume-item {
    display: flex;
    margin-bottom: 2rem;
  }

  .resume-item-title {
    @include sans_bold;
    margin: 0 0 .75rem;
    font-size: 1.5rem;
    letter-spacing: -.05rem;
    line-height: 1.1em;
    margin-bottom: 5px;

   @media (max-width: 400px) {
      font-size: 1.2rem;
    }

    @media (max-width: 375px) {
      font-size: 1rem;
    }

    a {
      border-bottom: 0 !important;
    }
  }

  .resume-item-details {
    font-size: 1.125rem;
    margin: 0;

    @media (max-width: 400px) {
      font-size: 1rem;
    }

    &.award-title {
      font-size: 1rem;
    }
  }

  .resume-item-copy p {
    margin: 0;

    @media (max-width: 375px) {
        font-size: 14px;
    }
  }

  .resume-item-title,
  .resume-item-details,
  .resume-item-copy,
  .resume-item-list {
    a {
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid #ddd;

      &:hover {
        border-bottom: none;
        color: #9c9c9c;
      }
    }
  }
}

.skills-bullets {
  display: inline-block;
}

.summary-bullets {
    li.resume-item-copy:last-child {
      padding-bottom: 10px;

      @media print {
        padding-bottom: 2px;
      }
  }
}

.detailed-projects {
  margin: 0 0 3rem;
  width: 130%;
  left: -15%;
  position: relative;

  @media(max-width: 1000px) {
    left: 0;
    width: 100%;
  }
}

.resume-project-photo-placeholder {
  padding: 0;

  img {
    background-color: #efefef;
    border-radius: 5px;
    padding-left: 60px !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    padding-right: 60px !important;
    margin-left: 0px;
    margin-right: 25px;
    width: 175px !important;
  }
}

.resume-project-photo {
  height: 100%;

  img {
    padding-right: 20px;
    height: 100%;
    width: 200px;
    min-width: 20px;
    min-height: 100px;
  }

  @media(max-width: 800px) {
    display: none;
  }
}


.project-photo-description {
  @media(max-width 800px) {
    width: 70%;
    margin: 0;
  }
}



// footer styles

.page-footer {
  border-top: 4px solid #c7c7c7;
  padding-top: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;

  .footer-line {
    margin: 0;
    margin-top: 10px;
    font-size: .875rem;
    color: #999;

    > a {
      font-weight: 700;
      color: #333;
    }
  }
}

.print-only { display: none !important }

@media print {
  .no-print { display: none !important }
  .print-only { display: block !important }
  body { font-size: 12px; line-height: 1rem; }
  .page-header { padding: 1rem 0 .2rem;
    .header-name {
      @include sans_bold;
      font-size: 2rem;
      margin: 0 0 .2rem;
      text-align: left;
    }
  }

  .top-links {
    display: inline-block !important;
    margin: 0 !important;
    width: 100%;

    .resume-item {
      display: inline-block;
      width: 100%;
    }

    a {
      text-decoration: none;
      border-bottom: 1px solid #808080;
    }

    ul {
      padding: 0;
      margin-top: 5px;
      margin-bottom: 0;
      width: 100%;
    }

    li {
      display: inline-block;
    }
  }

  .section-header {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;

    h2 {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  .content-section {
    margin: 0 0 10px;

    .resume-item {
      margin-bottom: 0;
      border-bottom: 1px solid #eee;
      padding-bottom: 5px;
      padding-top: 5px;
    }

    .resume-item:last-child {
      border-bottom: 0 !important;
    }

    .resume-item-title {
      font-size: 14px;
      margin-bottom: 2px;
    }

    .resume-item-details {
      font-size: 11px;
      margin: 0;
    }
  }
}

@page {
  margin-bottom: 50px;
}

