---
layout: compress
---
<!DOCTYPE html>
<html lang="en-gb">
<head>
  <meta charset="UTF-8">

  <title>harrymt</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- Description -->
  <meta name="description" content="Harry Mumford-Turner personal portfolio of work.">
  <meta name="keywords" content="Harry,Mumford,Turner,Mumford-Turner,Harrymt,portfolio,cv,website">
  <meta name="author" content="Harry Mumford-Turner">

  <!-- Mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css inline -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- /build -->

</head>
<body>
  <header>
    <nav>
      <ul>
        {% assign ps = site.pages | reverse%}
        {% for node in ps %}
          {% if page.url == node.url %}
            <li><a href="{{node.url}}" class="selected">{{node.title}}</a></li>
          {% else %}
            <li><a href="{{node.url}}">{{node.title}}</a></li>
          {% endif %}
        {% endfor %}

       <li><a href="//harrymt.com/blog">Blog</a></li>
      </ul>
    </nav>
  </header>

  {{ content }}

  <footer>
    <p>See this site progress through the years.</p>
    <div class="button-container">
      <a href="//harrymt.com/Site2016" class="button button-huge button-clear">2016</a>
      <a href="//harrymt.com/Site2015" class="button button-huge button-clear">2015</a>
      <a href="//harrymt.com/Site2013" class="button button-huge button-clear">2014</a>
    </div>

    <div class="button-container">
      <p>View code on my <a href="//github.com/harrymt">GitHub <span class="fa fa-github"></span></a>
      <p>Find me on <a href="//stackoverflow.com/users/2235593/harry-mumford-turner">StackOverflow</span></a>
    </div>
  </footer>

  <!-- build:js inline -->
  <script src="/js/main.min.js"></script>
  <!-- /build -->

</body>
</html>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">