
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
i,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

body {
  background: $color-background;
  color: $color-text;

  font: 500 16px Avenir, sans-serif;
  line-height: 1;
  text-align: center;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
