
//
// Buttons
//

.button-container {
  padding-top: 30px;

  .button {
    display: inline-block;
    margin: 5px;
  }
}

.button {
  background: $color-background-alt;
  border: 1px solid darken($color-background-alt, 10%);
  color: $color-background-alt;
  display: block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 70px;

  &:hover {
    color: darken($color-background-alt, 10%);
  }
}

.button-big {
  border-radius: 3px;
  height: 17px;
  padding: 6px;
  padding-top: 7px;
}

.button-huge {
  background-color: $color-background-alt;
  border-color: darken($color-background, 20%);
  border-style: solid;
  border-width: 3px;
  color: darken($color-background-alt, 10%);
  font-size: 30px;
  padding: 8px;
  width: 200px;

  &:hover {
    background-color: $color-secondary;
    color: $color-background-alt;
  }
}

.button-red {
  background: $color-btn-red;

  &:hover,
  &:focus {
    background: darken($color-btn-red, 10%);
    outline: none;
  }
}

.button-green {
  background: $color-btn-green;

  &:hover,
  &:focus {
    background: darken($color-btn-green, 10%);
    outline: none;
  }
}

.button-blue {
  background: $color-btn-blue;

  &:hover,
  &:focus {
    background: darken($color-btn-blue, 10%);
    outline: none;
  }
}

.button-black {
  background: $color-btn-black;
  border-color: $color-btn-black;

  &:hover,
  &:focus {
    background: lighten($color-btn-black, 10%);
    outline: none;
  }
}

.button-clear {
  color: $color-secondary; //#505050;

  &:hover {
    background-color: $color-btn-black;
    color: $color-background-alt;
  }
}


