
//
// Mobile
//

@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 600px) {
  .landing-section {
    padding-bottom: 0;
  }

  .huge-heading {
    font-size: 300%;
    text-align: center;
  }

  main section {
    border-radius: 0;
    height: 100%;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 100%;
    padding: 30px;
  }

  .fullwidth {
    margin-top: 0;
  }

  footer {
    width: 100%;
  }

  .profile {
    width: 60%;
  }

  .section-main h1 {
    font-size: 1.5em;
  }

  .section-work .bullet-list {
    display: none;
  }

  // Set appropriate tap target sizes (48px)
  header nav ul li a {
    font-size: 1.1em;
    padding-bottom: 1.5em;
    padding-left: 1.7em;
    padding-right: 1.7em;
    padding-top: 1.5em;
  }
}
