
//
// Typography
//

a {
  color: darken($color-text-secondary, 10%);

  &:hover {
    color: $color-link-hover;
  }
}

h1,
h2 {
  color: $color-secondary;
  display: block;
  font-size: 2em;
  padding-bottom: 5px;
  padding-top: 20px;
  width: 100%;
}

h2 {
  color: lighten($color-secondary, 5%);
  font-size: 1.8em;
}

li,
p {
  color: $color-text;
}

p {
  color: $color-secondary;
  line-height: 1.7em;
  text-align: justify;
}

hr {
  margin-bottom: 50px;
  margin-top: 30px;
}

.text-inline-minor {
  color: lighten($color-text , 30%);
}

.text-inline-massive {
  font-size: 30px;
}

.text-inline-huge {
  font-size: 50px;
}

.icon-link {
  color: lighten($color-text-secondary, 20%);

  &:hover {
    color: $color-text-secondary;
    cursor: pointer;
  }
}

.bullet-list {
  line-height: 1.5em;
  list-style: disc;
  padding-left: 20px;
  text-align: left;
}
