
$color-link-hover: #1db8f9;

$color-btn-red: #ff412e;
$color-btn-green: #128e12;
$color-btn-blue: #516cf1;
$color-btn-black: #4f5f77;

$color-background-alt: #fff;
$color-background: #fafafa;
$color-text: #696969;
$color-text-secondary: #555;
$color-secondary: #333;

